*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary: #35c8e9;
	--secondaryColor: #9c56e2;
	--mainColor: #0D0D0D;
	--mainColorLight: #191919;
	--textColor: #eee;
  --light: #484848;
}

body{
  background-color: var(--mainColorLight);
  color: #f2f2f2;
  min-height: 100vh;
}

.button{
  background-color: var(--secondaryColor);
  color: var(--textColor);
  padding: 0.7rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  transition: 0.3s;
}

/* Home Page Styling */
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.home h1{
  text-transform: uppercase;
  color: var(--textColor);
  margin-bottom: 1rem;
}

.home a:hover{
  transform: scale(1.02);
}